#pamiętniczek {
    color: rgb(185, 34, 18)
}

.mainHeader {
    color: rgb(112, 52, 8);
    background: yellow
}

body {
    background: salmon
}

.sectionHeader {
    color: rgba(224, 24, 24, 0.933)
}

p {
    color: black;
}